# Ignore Mac system files
.DS_Store

IA_PrvaStrana.docx
PrvaStrana.odt
PrvaStrana.pdf
custom_template.tplx
custom_template.tpl
tempDirectory/*

# Quarto
quarto_env/
optimizationmethods_files/
.quarto/

# Amazon publish - ignore everything except readme.md
amazon_publish_6_9/*
!amazon_publish_6_9/readme.md
!amazon_publish_6_9/optimizationmethods_amazon_6_9.tex
!amazon_publish_6_9/optimizationmethods_amazon_6_9.pdf